h1 , h2 , h3 , h4 ,h5 , p span{
	font-family: 'Spartan', sans-serif;
}
/* sarvice-section */
.sarvice-section {}
.sarvice-section .finix-item{
	margin-right: 20px;
}
.sarvice-section .image-items{
	display: flex;
} 
.sarvice-section .image-items .card-img {
	border: 1px solid #dddd;
	justify-content: center;
	display: flex;
	border-radius: 0 !important;
}
.sarvice-section .image-items .card-img img {
	width: 200px;
	opacity: .4;
	transition: .4s;
	padding: 20px;
}
.sarvice-section .image-items .card-img img:hover{
	opacity: 1;
}


.after1::after {
	content: "";
	position: absolute;
	background: blue;
	width: 80px;
	height: 2px;
	left: 0;
	bottom: -20px;
}

/* finix-item  */

.finix-item h3 {
	font-size: 14px;
	color: blue;
	font-weight: 300;
	margin-bottom: 12px;
}
.finix-item h4 {
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 28px;
	position: relative;
}

.after2::after {
	content: "";
	position: absolute;
	background: blue;
	width: 80px;
	height: 2px;
	right: 612px;
	bottom: -20px;
}
.finix-item p {
	font-size: 18px;
	color: #0000008f;
}


/* team-section */

.team-section{
	
}
.team-section .card-img{
	position: relative;
}
.team-section .card-img img{
	
}
.team-section .card-img .athor {
	position: absolute;
	right: 19px;
	top: 179px;
	width: 195px;
	height: 54px;
	background: blue;
	border-radius: 50px;
}
.team-section .card-img .athor img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 9px;
	line-height: 40px;
	margin-top: 7px;
}
.team-section .athor h4 {
	font-size: 14px;
	color: #fff;
	margin-top: 20px;
	margin-left: 7px;
	font-weight: 500;
}
.team-section h2 {
	font-size: 20px;
	font-weight: 600;
	margin: 30px 0;
}
.team-section p {
	color: #0000008c;
	font-size: 18px;
}


/* footer-section */


.footer-section{}
.footer-section .footer-item{}
.footer-section .footer-item .footer-img {
	width: 186px;
	margin-bottom: 20px;
}
.footer-section .footer-item .footer-img img{
	max-width: 100%;
}
.footer-section .footer-item h3 {
	font-size: 17px;
	line-height: 30px;
	font-weight: 400;
	margin-bottom: 28px;
}
.footer-section .footer-item ul {
	list-style: none;
	padding: 0;
}
.footer-section .footer-item ul li{
	padding: 0 10px;
}
.footer-section .footer-item ul li a {
	color: #ffff;
	padding: 0 8px;
}

.footer {}
.footer h3 {
	font-size: 25px;
	position: relative;
}
.footer h3::after {
	position: absolute;
	content: "";
	background: blue;
	left: -16px;
	top: 0px;
	height: 31px;
	width: 3px;
}
.footer ul {
	padding: 0;
}
.footer ul li {
	list-style: none;
}
.footer ul li a {
	text-decoration: none;
	color: #ffffff87;
	padding: 10px 0;
	display: inline-block;
}


.footer-bottum{}
.footer-bottum p {
	border-top: 1px solid #dddd;
	padding-top: 32px;
}
